body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #F8F8F8;
    color: #0B132A;
}

.container {
    max-width: 1140px;
    margin: 30px auto;
    padding: 0 15px;
}

.header {

}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-nav {

}

.nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav-item {
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
    color: #4F5665;
}

.head-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.head-sign {

}

.head-sign-btn {
    border: 3px solid red;
    border-radius: 25px;
    padding: 0 20px;
    box-sizing: content-box;
    width: 150px;
    height: 45px;
    font-size: 16px;
    box-shadow: 0px 19px 20px 0px rgba(34, 60, 80, 0.27);
    cursor: pointer;
}

.head-sign-btn:hover {
    background-color: red;
    transition: background-color 0.5s ease-in-out;
}

.main {
    max-width: 1140px;
    display: flex;
    margin: 100px auto;
}

.main-col-info {
    max-width: 555px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.first-text {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 0;
}

.title-text {
    font-weight: 400;
    color: #4F5665;
    line-height: 30px;
}

.main-btn {
    width: 250px;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: #F53838;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 35px;
    box-shadow: -3px 20px 30px 1px rgba(255, 0, 0, 0.24);
    cursor: pointer;
}

.main-btn:hover {
    box-shadow: 2px 2px 4px black;
}

.main-img {
    display: block;
    width: auto;
}

.promo-cols {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 50px 0;
}

.card {
    display: flex;
    align-items: center;
    margin: 0;
    border-right: 2px solid #EEEFF2;
}

.card-text {
    margin: 0 0 0 25px;
}

.card-text-1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.card-text-2 {
    font-size: 20px;
    color: #4F5665;
    margin: 10px 0 0 0;
}

.provide-content {
    display: flex;
    justify-content: space-between;
}

.provide-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 430px;
}

.provide-text h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    margin: 0;
}

.provide-text p {
    line-height: 30px;
}

.list-1 {
    list-style-image: url(/image/Group1120.png);
    margin-bottom: 5px;
}

.list-1 li {
    font-size: 14px;
    line-height: 30px;
}


.choose-text {
    text-align: center;
    margin: 65px 0;

}

.choose-text h3 {
    font-size: 35px;
    font-weight: 500;
}

.choose-text p {
    line-height: 30px;
    color: #4F5665;
    padding: 0 268px
}

.choose-blocks {
    display: flex;
    justify-content: space-between;
}

.choose-blocks h3 {
    font-size: 18px;
}

.choose-link {
    list-style-image: url(/image/Group1223.png);
    text-align: left;
}

.choose-link li {
    font-size: 14px;
}

.choose-blocks p {
    font-size: 25px;
    font-weight: 500;
}

.choose-blocks button {
    font-weight: 700;
    color: #F53838;
    border: 2px solid #F53838;
    width: 177px;
    height: 45px;
    border-radius: 50px;
}

.choose-blocks button:hover {
    background-color: #F53838;
    color: white;

}

.choose-blocks span {
    font-size: 25px;
    font-weight: 400;
}


.choose-block-1,
.choose-block-2,
.choose-block-3 {
    width: 240px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
    text-align: center;
    padding: 55px 55px 150px 55px;
    line-height: 30px;
    position: relative;
}

.choose-block-1:hover,
.choose-block-2:hover,
.choose-block-3:hover {
    border: 2px solid #F53838;
    box-shadow: 26px 32px 69px -12px #F53838;
}

.choose-link-block {
    text-decoration: none;
    color: #0B132A;
}

.choose-block-1 p,
.choose-block-2 p,
.choose-block-3 p {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
}

.choose-block-1 button,
.choose-block-2 button,
.choose-block-3 button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}